
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPageMain.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">Sessions</div>
    <div class="panel-body">Panel Content</div>
</div>